<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>
        Welcome to the JAS! <br>
        Our platform provides a seamless and efficient way for job seekers to discover exciting career opportunities and for employers to connect with top talent
    </p>
    <a href="/signup">Create an account</a>
    <a href="/login">Login</a>
    </body>
</html>